---
import Header from '../components/Header.astro';
import MenuMobile from '../components/MenuMobile.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Sam Esteban | Diseñador y Desarrollador Front-End">
	<MenuMobile />
	<div class="relative z-[1]">
		<Header />
		<main class="mx-auto w-full max-w-[1440px] px-5">
			<Hero />
			<Portfolio title="Portafolio" />
			<Contact title="Conversemos" />
		</main>
		<Footer />
	</div>
</Layout>