---
import { CLIENTS } from "../services/Clients";
import Client from "./Client.astro";
---
<div class="accordion porfolio-list mt-4">
    {
        CLIENTS.map(client => <Client {...client} />)
    }
</div>
<script>
    function accordionSetup() {
        const accordionMenus = document.querySelectorAll(".accordion", ) as NodeListOf<HTMLElement>;
        accordionMenus.forEach((accordionMenu) => {
            const accordionButton = accordionMenu.querySelectorAll(".accordion__button") as NodeListOf<HTMLElement>;
            const accordionContent = accordionMenu.querySelectorAll(".accordion__content") as NodeListOf<HTMLElement>;
            accordionButton.forEach(trigger => {
                trigger.addEventListener('click', function() {
                    const target = this.dataset.target;
                    const targetContent = accordionMenu.querySelector(`.accordion__content[data-target="${target}"]`);
                    const targetTrigger = accordionMenu.querySelector(`.accordion__button[data-target="${target}"]`);
                    if (targetContent.getAttribute('aria-expanded') === 'true') {
                        targetContent.setAttribute('aria-expanded', 'false');
                        targetTrigger.setAttribute('aria-expanded', 'false');
                        return;
                    }
                    accordionContent.forEach(content => content.setAttribute('aria-expanded', 'false'))
                        accordionButton.forEach(trigger => trigger.setAttribute('aria-expanded', 'false'))
                        targetContent.setAttribute('aria-expanded', 'true');
                        targetTrigger.setAttribute('aria-expanded', 'true');
                })
            })
        });
    }
  
    // runs on initial page load
    accordionSetup();
  
    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", accordionSetup);
  </script>