---
import IconsList from "./IconsList.astro";
import Button from "./helpers/Button.astro";
---
<section id="home" class="min-h-dvh flex flex-col items-start justify-center">
    <div class="w-full lg:w-10/12 pt-16">
        <h1 class="text-stone-900 dark:text-stone-50 text-xl md:text-2xl lg:text-3xl xl:text-4xl 1xl:text-5xl font-semibold leading-tight transition-all duration-300">Hola, soy</h1>
        <h2 class="text-stone-900 dark:text-stone-50 text-3xl sm:text-5xl md:text-6xl lg:text-8xl xl:text-[144xl] 1xl:text-[154px] font-bold uppercase leading-[100%] transition-all duration-300">Sam Esteban</h2>
        <h3 class="text-stone-900 dark:text-stone-50 text-lg md:text-xl lg:text-2xl xl:text-3xl 1xl:text-4xl font-semibold transition-all duration-300">Dise침ador web y Desarrollador Front-End con +10 a침os de experiencia.</h3>
        <p class="text-stone-900 dark:text-stone-50 text-lg md:text-xl lg:text-2xl xl:text-3xl 1xl:text-4xl font-semibold transition-all duration-300"><span class="text-stone-500 dark:text-stone-50/75">Llevo 35 vueltas al astro rey</span> y mi escritorio est치 en Chile.</p>
        <p class="text-stone-900 dark:text-stone-50 text-lg md:text-xl lg:text-2xl xl:text-3xl 1xl:text-4xl font-semibold transition-all duration-300">Mi conocimiento est치 basado en:</p>
        <IconsList />
        <div class="mt-8">
            <Button id="go-to-porfolio" label="Ver Portafolio" url="#porfolio" hasIcon={true} target="_self" />
        </div>
    </div>
</section>
<script>
    const goToAnchor = ({ hash, href = false }) => {
		if (!hash) return;
		// get target element
		const target = document.querySelector(hash);
		if (target) {
			const headerOffset = document.querySelector("header").offsetHeight;
			const elementPosition = target.getBoundingClientRect().top;
			const offsetPosition =
				elementPosition + window.pageYOffset - headerOffset;

			// scroll to element
			window.scrollTo({
				top: offsetPosition,
				behavior: "smooth",
			});
		} else {
			href && (window.location.href);
		}
	};
	const anchors = document.querySelectorAll('a[href*="#"]');
	if (anchors) {
		anchors.forEach((anchor) => {
			anchor.addEventListener("click", function (e) {
				e.preventDefault();
				// get hash
				const hash = this.hash;
				goToAnchor({ hash, href: this.href });
			});
		});
	}
</script>