---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro"
---
<div id="mobile-menu" class="max-w-[380px] w-full bg-stone-50 dark:bg-[#101010] p-4 h-dvh fixed z-10 left-full data-[state=open]:-translate-x-full transition-all delay-75 duration-300 ease-in-out" data-role="mobile-menu" data-state="closed">
    <div class="close-area flex justify-end">
        <a href="#" class="close-btn w-14 fill-stone-900 dark:fill-stone-50" data-role="toggle-menu" data-ref="mobile-menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
        </a>
    </div>
    <div class="menu-area px-14 pt-14 pb-7">
        <ul class="flex flex-col items-end justify-start text-right gap-y-6">
            <li><a href="#home" class="text-stone-900 dark:text-stone-50 uppercase text-xl hover:text-stone-600 duration-150 transition-all">Inicio</a></li>
            <li><a href="#porfolio" class="text-stone-900 dark:text-stone-50 uppercase text-xl hover:text-stone-600 duration-150 transition-all">Portafolio</a></li>
            <li><a href="#contact" class="text-stone-900 dark:text-stone-50 uppercase text-xl hover:text-stone-600 duration-150 transition-all">Contacto</a></li>
        </ul>
    </div>
    <div class="contact-list px-14 py-7 flex items-center justify-end gap-x-6">
        <a href="mailto:hola@samesteban.dev" class="contact-info inline-flex items-center justify-start gap-1 text-stone-900 dark:text-stone-50 fill-stone-900 dark:fill-stone-50 transition-all duration-150 hover:fill-stone-600">
            <span class="size-8"><Mail /></span>
        </a>
        <a href="https://www.linkedin.com/in/sam-esteban/" target="_blank" class="contact-info inline-flex items-center justify-start gap-1 text-stone-900 dark:text-stone-50 fill-stone-900 dark:fill-stone-50 transition-all duration-150 hover:fill-stone-600">
            <span class="size-8"><LinkedIn /></span>
        </a>
        <a href="https://github.com/samesteban" target="_blank" class="contact-info inline-flex items-center justify-start gap-1 text-stone-900 dark:text-stone-50 fill-stone-900 dark:fill-stone-50 transition-all duration-150 hover:fill-stone-600">
            <span class="size-8"><Github /></span>
        </a>
    </div>
</div>
<script>
    const toggleMenu = document.querySelectorAll('[data-role="toggle-menu"]');
    const nav = document.querySelector('#mobile-menu');
    const navButtons = nav.querySelectorAll('li a');

    toggleMenu && toggleMenu.forEach((toggle) => {
        toggle.addEventListener('click', () => {
            if(nav.getAttribute('data-state') === 'closed') {
                nav.setAttribute('data-state', 'open');
            } else {
                nav.setAttribute('data-state', 'closed');
            }
        });
    });
    navButtons && navButtons.forEach((item) => {
        item.addEventListener('click', () => {
            nav.setAttribute('data-state', 'closed');
        });
    });
</script>